<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title || "Your default title" }}
    </title>
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    <style>
      body {
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      
      .nav {
        background: f0f0f0;
        padding: 10px;
        margin-bottom: 20px;
      }
      
      .post {
        border: 1px solid ddd;
        padding: 15px;
        margin-bottom: 15px;
      }
      
      .actions a {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>|
      @if(title === 'Daftar Product')
        <a href="/web/products">Semua Post</a>|
        <a href="/web/products/create">Buat Baru</a>
      @else
        <a href="/web/posts">Semua Post</a>|
        <a href="/web/posts/create">Buat Baru</a>
      @endif
    </nav>
    {{{ await $slots.main() }}}
  </body>
</html>
