<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title || "Your default title" }}
    </title>
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    <style>
      body {
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      
      .nav {
        background: f0f0f0;
        padding: 10px;
        margin-bottom: 20px;
      }
      
      .post {
        border: 1px solid ddd;
        padding: 15px;
        margin-bottom: 15px;
      }
      
      .actions a {
        margin-right: 10px;
      }
    </style>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body class="font-sans antialiased">
    <nav class="bg-white shadow dark:bg-gray-800">
      <div
        class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300 gap-4"
      >
        <a
          href="/"
          class="text-gray-800 transition-colors duration-300 transform dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6"
        >home</a>

        @if(title === 'Daftar Product')
          <a
            href="/web/products"
            class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
          >Semua Produk</a>

          <a
            href="/web/products/create"
            class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
          >Buat Baru</a>
        @else
          <a
            href="/web/posts"
            class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
          >Semua Post</a>

          <a
            href="/web/posts/create"
            class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
          >Buat Baru</a>
        @endif
      </div>
    </nav>
    <div class="py-4">
      {{{ await $slots.main() }}}
    </div>
  </body>
</html>
