<!DOCTYPE html>
<html>
  <head>
    <title>
      Demo Routing AdonisJS
    </title>
  </head>
  <body>
    <h1>
      Selamat Datang di Demo Routing AdonisJS
    </h1>

    <h2>
      Contoh Endpoint:
    </h2>
    <ul>
      <li>
        GET /books
      </li>
      <li>
        POST /books (dengan body JSON)
      </li>
      <li>
        GET /products/elektronik?page=2
      </li>
      <li>
        GET /admin
      </li>
      <li>
        GET /posts
      </li>
    </ul>
  </body>
</html>
